---
import OverviewLayout from "../layouts/OverviewLayout.astro";
import CardOverview from "../components/CardOverview.astro";
import CatFilterButtons from "../components/CatFilterButtons.astro";
import ShowMore from "../components/ShowMore.astro";
import "../styles/overview.css";
import "../styles/general.css";
---

<OverviewLayout title="WEBSHOP">
  <div class="start-text1">
    <h1>WEBSHOP</h1>
    <img src="img/flower.webp" alt="flower illustration" />
  </div>
  <div class="start-text2">
    <p>
      Velkommen til min webshop! Træd ind i en verden af unikke <br /> kunstværker, skabt med kærlighed og passion. Udforsk en samling <br /> af malerier,
      der fanger øjet og berører sjælen. Hvert stykke er en <br />
      fortælling, en rejse, og en unik skat at tage med hjem.
    </p>
  </div>
  <div class="btn">
    <CatFilterButtons />
  </div>
  <div class="cards_list">
    <CardOverview />
    <CardOverview />
    <CardOverview />
    <CardOverview />
    <CardOverview />
    <CardOverview />
    <CardOverview />
    <CardOverview />
    <CardOverview />
  </div>
  <div class="show_more">
    <ShowMore />
  </div>
</OverviewLayout>
